{% extends 'base.html' %}

{% block about %}class="active"{% endblock %}

{% block hero %}About{% endblock %}

{% block content %}
    <p>Digital Khaos is an annual LAN party hosted by Vermont Technical College. It is run entirely by a student organization
        known as "The Adventures Guild". All the organization, networking, software development, and marketing is done
        by students in the club.</p>
     <p>Last year, we had over 75 students show up for the whole 2-day event. We invite all Vermont Tech students to come this
        year, and bring a friend! If you want to come, but you're not a student and don't know any students, shoot an email
        to HPhan@vtc.vsc.edu. We'll see if we can fit you in!</p>

     <h2>Where is it?</h2>
     <p>This year, DK is being held in Judd on Vermont Tech's Randolph campus. Randolph campus is at:</p>
     <address style="margin-left: 30px;">
        <strong>Vermont Technical College</strong><br />
        PO Box 500<br />
        Randolph Center, VT 05061-0500<br />
     </address>
     <p>Judd is pretty easy to find after you drive in. Parl in the first parking lot you see, go into the courtyard, and it's on the otherside of the bookstore.</p>

     <h2>When is it?</h2>
     <p>We will be setting up Friday night, March 1st. The gaming begins March 2nd, early-ish (we're aiming for 8AM). Things should be moving by noon. The plan is to go all night, and end around 8PM on Sunday, the 3rd.<p>

     <h2>Who should I talk to if I have questions?</h2>
     <p>There are several people you can talk too. Here is the abbreviated list:</p>
     <address style="margin-left: 30px;">
        <strong>Hoang Phan</strong><br />
        President<br />
        <a href="mailto:HPhan@vtc.vsc.edu">HPhan@vtc.vsc.edu</a><br />
     </address>
     <address style="margin-left: 30px;">
        <strong>Charles Hathaway</strong><br />
        IT Guy<br />
        <a href="mailto:chathaway2@vtc.vsc.edu">chathaway2@vtc.vsc.edu</a><br />
{% endblock %}
