{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ game.name }}{% endblock %}
{% block games %}class="active"{% endblock %}

{% block content %}
{% if game.image %}
<img class="img-polaroid" src="{{ game.image.url }}" />
{% endif %}
<p class="lead">{{ game.description }}</p>
<h2>Available Tournaments</h2>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th># Registered</th>
    </tr>
{% if game.tournament_set.count == 0 %}
    <tr><td>No tournaments yet!</td></tr>
{% endif %}
{% for t in game.tournament_set.all %}
    <tr>
        <td>{{ t.name }}</td>
        <td>{{ t.description }}</td>
        <td>
        {% if t.team_game == true %}
            {{ t.team_set.count }}
        {% else %}
            {{ t.players.count }}
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% if game.files.count > 0 %}
    <h2>Associated files</h2>
    <table class="table table-striped">
        <tr>
            <th>File</th>
            <th>Description</ht>
        <tr>
        {% for f in game.files.all %}
            <tr>
                <td><a href="{{ f.file.url }}">{{ f.name }}</a></td>
                <td>{{ f.description }}</td>
            </tr>
         {% endfor %}
     </table>
{% endif %}

{% if game.player_set.count > 0 %}
	<h2>People who will be playing</h2>
	<div class="row">
	{% for p in game.player_set.all %}
	    {% if forloop.counter|divisibleby:"6" %}
	        </div><div class="row">
	    {% endif %}
	    <div class="span1"><a href="{% url 'player_detail' pk=p.id %}">
	        {% if p.image %}
	            <img class="img-polaroid" src="{{ p.image.url }}" />
	        {% else %}
	            <img src="{{ STATIC_URL }}img/avatar.png" />
	        {% endif %}
	    </a></div>
	    <div class="span1"><a href="{% url 'player_detail' pk=p.id %}">{{ p }}</a></div>
	{% endfor %}
	</div>
{% endif %}
{% endblock %}
