{% extends 'base.html' %}
{% load url from future %}
{% load markup %}
{% load player_tags %}

{% block hero %}{{ player.get_name }}{% endblock %}
{% block profiles %}class="active"{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="span2">
                {% if player.image %}
                    <img class="img-polaroid" src="{{ player.image.url }}" />
                {% else %}
                    <img src="{{ STATIC_URL }}img/avatar.png" />
                {% endif %}
            </div>
            <div class="span9">
                <!-- User description of themselves, if applicable -->
                {% if player.description %}
                <p>{{ player.description|markdown:"safe" }}</p>
                {% endif %}
            </div>
        </div>
        {% if player.games.count != 0 %}
        <div class="row">
            <div class="span12">
                <!-- List of all games the person owns -->
                <h3>Games I'm interested in</h3>
                    <ul class="unstyled lead">
                    {% for g in player.games.all %}
                    <li><a href="{% url 'game_detail' pk=g.id %}">{{ g.name }}</a></li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
        {% endif %}
        {% if player.tournament_set.count != 0 %}
        <div class="row">
            <div class="span12">
                <!-- The tournaments they are registered for -->
                <h3>Tournaments I'm registered for</h3>
                {% if player.user|get_registered_tournaments_count == 0 %}
                    <h4>I'm not registered for any tournaments yet</h4>
                {% else %}
                    <ul class="unstyled lead">
                    {% for t in player|get_registered_tournaments %}
                    <li><a href="">{{ t.get_name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% with joined_teams=player|get_teams %}
        {% if joined_teams|length != 0 %}
        <div class="row">
            <div class="span12">
                <!-- Teams they are on -->
                <h3>Teams I'm part of</h3>
                <ul class="unstyled lead">
                    {% for t in joined_teams %}
                    <li><a href="{% url 'team_detail' pk=t.id %}">{{ t.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {% if player.platforms.count != 0 %}
        <div class="row">
            <div class="span12">
                <!-- Platforms they use -->
                <h3>Gaming devices I own</h3>
                {% if player.platforms.count == 0 %}
                    <h4>I don't have any gaming devices</h4>
                {% else %}
                    <ul class="unstyled lead">
                    {% for t in player.platforms.all %}
                        <li>{{ t.name }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% with joined_teams=player|get_pending_teams %}
        {% if joined_teams|length != 0 %}
        <div class="row">
            <div class="span12">
                <!-- Teams they are on -->
                <h3>Pending team invites</h3>
                    <ul class="unstyled lead">
                    {% for t in joined_teams %}
                        <li><a href="{% url 'teaminvite_accept' pk=t.id %}">{{ t }}</a></li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}

        <div class="row">
            <div class="span12">
                {% if user.id == player.user.id %}
                    <div><a href="{% url 'player_edit' pk=user.player.id %}">Edit your profile</a></div>
                    <div><a href="{% url 'computer_edit' pk=user.player.computer.id %}">Edit my computer</a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
