{% extends 'base.html' %}
{% load admin_static %}
{% load url from future %}
{% load player_tags %}
{% load wysiwyg %}

{% block title %}Invite Player{% endblock %}
{% block profiles %}class="active"{% endblock %}

{% block content %}
    {% if form.is_multipart %}
        <form class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
    {% else %}
        <form class="form-horizontal" method="post" action="{{ action }}">
    {% endif %}
        {% csrf_token %}
        {% for field in form %}
            <div class="control-group">
                {{ field.errors }}
                <label for="id_{{ field.html_name }}" class="control-label">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                </div>
                {% if field.help_text %}
                        <span class="help-inline">{{ field.help_text }}</span>
                {% endif %}
            </div>
        {% endfor %}
        <input type="hidden" id="id_team" name="team" value="{{ context }}" />
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn" onclick="javascript:history.go(-1)">Cancel</button>
    </form>

{% endblock %}
