{% extends 'base.html' %}
{% load admin_static %}
{% load url from future %}
{% load player_tags %}
{% load wysiwyg %}

{% block hero %}Invite Player{% endblock %}
{% block profiles %}class="active"{% endblock %}

{% block content %}
    {% if form.is_multipart %}
        <form class="form-horizontal" method="post" action="{{ action }}" enctype="multipart/form-data">
    {% else %}
        <form class="form-horizontal" method="post" action="{{ action }}">
    {% endif %}
        {% csrf_token %}
        <input type="hidden" id="id_team" name="team" value="{{ context }}" />
        <input type="hidden" id="id_accepted" name="accepted" value="1" />
        <button type="submit" class="btn btn-primary">Accept</button>
        <button type="button" class="btn" onclick="javascript:history.go(-1)">Ignore</button>
    </form>

{% endblock %}
