{% extends 'base.html' %}
{% load admin_static %}
{% load url from future %}
{% load player_tags %}
{% load wysiwyg %}

{% block extra-head %}
    {% wysiwyg_setup %}

    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>

    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>

    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

    {{ form.media }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>

{% endblock %}

{% block hero %}Edit profile{% endblock %}
{% block profiles %}class="active"{% endblock %}

{% block content %}
    {% include 'tournament/generic_form.html' %}

    {% wysiwyg_editor "id_description" %}
{% endblock %}
