{% extends 'base.html' %}
{% load url from future %}
{% load team_tags %}

{% block title %}Tournaments{% endblock %}
{% block tournaments %}class="active"{% endblock %}

{% block content %}
<table class="table table-striped">
    <tr>
        <th>Game</th>
        <th>Type</th>
        <th>Description</th>
        <th>Teams Size</th>
        <th>Registered Teams</th>
        <th> </th>
    </tr>
{% if list %}
    {% for l in list %}
        <tr>
            <td><a href="{% url 'tournament_detail' pk=l.id %}">{{ l.game.name }}</a></td>
            <td>{{ l.name }}</td>
            <td>{{ l.description }}</td>
            <td>{{ l.team_size }}</td>
            <td>
                {{ l.team_set.count }}
            </td>
            <td>
                {% if l.team_size == 1 %}
                    {% if l in user.player.games.all %}
                        <a href="{% url 'game_interest_added' pk=l.id %}">Lost interest?</a>
                    {% else %}
                        <a href="{% url 'game_interest_added' pk=l.id %}">Interested?</a>
                    {% endif %}
                {% else %}
                    {% if l|get_player_team:user.player %}
                        <a href="{% url 'team_detail' pk=l.id %}">View My Team</a>
                    {% else %}
                        <a href="{% url 'team_create' %}">Create a team</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>No tournaments added!</td>
    </tr>
{% endif %}
</table>
{% endblock %}
