{% extends 'base.html' %}
{% load url from future %}
{% load team_tags %}

{% block hero %}{{ tourney.name }}{% endblock %}
{% block tournaments %}class="active"{% endblock %}

{% block content %}
<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>{{ tourney.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ tourney.description }}</td>
    </tr>
    <tr>
        <td>Game</td>
        <td>{{ tourney.game }}</td>
    </tr>
    {% if tourney.team_size > 1 %}
    <tr>
        <td>Size of teams</td>
        <td>{{ tourney.team_size }}</td>
    </tr>
    <tr>
        <td>Teams playing</td>
        <td>
            <p>
            {% for t in tourney.team_set.all %}
                <a href="{% url 'team_detail' pk=t.id %}">{{ t.name }}</a><br />
            {% endfor %}
            </p>
        </td>
    </tr>
    <tr>
        <td>Players</td>
    </tr>
</table>
<div class="row">
    {% for player in tourney|get_tournament_players %}
        {% if forloop.counter0|divisibleby:"6" %}
            </div><div class="row">
        {% endif %}
        {% include 'tournament/player_view.html' %}
    {% endfor %}
</div>
    {% else %}
    <tr>
        <td>Players competing</td>
    </tr>
</table>
        <div class="row">
        {% for t in tourney.team_set.all %}
          {% if forloop.counter0|divisibleby:"6" %}
              </div><div class="row">
          {% endif %}
          {% with player=t.lead %}
          {% include 'tournament/player_view.html' %}
          {% endwith %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
