{% extends 'base.html' %}
{% load url from future %}

{% block title %}Tournaments{% endblock %}
{% block tournaments %}class="active"{% endblock %}

{% block content %}
<table class="table table-striped">
    <tr>
        <th>Game</th>
        <th>Type</th>
        <th>Description</th>
        <th>Teams?</th>
        <th>Registered</th>
        <th> </th>
    </tr>
{% if list %}
    {% for l in list %}
        <tr>
            <td><a href="{% url 'tournament_detail' pk=l.id %}">{{ l.game.name }}</a></td>
            <td>{{ l.name }}</td>
            <td>{{ l.description }}</td>
            <td>{{ l.team_game }}</td>
            <td>
            {% if l.team_game %}
                {{ l.team_set.count }}
            {% else %}
                {{ l.players.count }}
            {% endif %}
            </td>
            <td>
                {% if user in l.players.all %}
                <a href="{% url 'tournament_reg' pk=l.id %}">Unregister</a>
                {% else %}
                <a href="{% url 'tournament_reg' pk=l.id %}">Register</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td>No tournaments added!</td>
    </tr>
{% endif %}
</table>
{% endblock %}
